.header {
    background-color: #004175;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #89deef;
    color: white;
    text-indent: 5px;
    width: 100%;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;

}

h1 {
    font-family: 'Open Sans', 'Helvetica';
    color: white;

}

#adoption {
    font-family: 'Open Sans', 'Helvetica';
    padding-left: 25px;
}

#adoptadog {
    font-family: 'Open Sans', 'Helvetica';
    padding-left: 25px;
    font-size: 25px;
}


.dog-name {
    font-family: 'Oswald', 'Helvetica';
    color: black;
    font-size: larger;
    font-weight: bolder;

}

.main {
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.trait {
    font-family: 'Open Sans', 'Helvetica';
    color: black;
    background-color: #89deef;
    border-radius: 5px;
    margin: 0.5%;
    padding-left: 0.8%;
    padding-right: 00.8%;
}

.dog {
    margin-left: 5px;
    margin-right: 5px;

    width: 400px;


}

.trait-box {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
}

#pic1 {
    background-image: linear-gradient(rgba(77, 40, 177, 0.5), rgba(126, 50, 164, 0.5)), url("starter_files/images/location.png");
    text-align: center;
    background-size: 100%;
    padding-top: 120px;
    width: 33%;
    height: 200px;
    font-size: 75px;
    color: white;
    font-family: 'Open Sans', 'Helvetica';



}

#pic2 {
    background-image: linear-gradient(rgba(77, 40, 177, 0.5), rgba(126, 50, 164, 0.5)), url("starter_files/images/donate.jpg");
    background-size: 100%;
    text-align: center;
    padding-top: 120px;
    width: 33%;
    height: 200px;
    font-size: 75px;
    color: white;
    font-family: 'Open Sans', 'Helvetica';

}

#pic3 {
    background-image: linear-gradient(rgba(77, 40, 177, 0.5), rgba(126, 50, 164, 0.5)), url("starter_files/images/volunteer.jpg");
    text-align: center;
    background-size: 100%;
    padding-top: 120px;
    width: 33%;
    height: 200px;
    font-size: 75px;
    color: white;
    font-family: 'Open Sans', 'Helvetica';

}



img {
    width: 400px;

}